---
http_interactions:
- request:
    method: get
    uri: https://kickservapp.com/suffolkplumbing/jobs.xml?only=job_number%2Cid%2Ccustomer_id%2Cname%2Cstatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OThlMTgxZmEwY2U4Nzk3NzgzMjUwMmZmYjQzMTNjODQ5N2FjYTk2Yzo5OGUxODFmYTBjZTg3OTc3ODMyNTAyZmZiNDMxM2M4NDk3YWNhOTZj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - unknown
      x-transaction:
      - 1adf1c2f-329e-4847-8259-7d23bfbe09bc
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <jobs type="array">
          <job>
            <id type="integer">3458832</id>
            <customer-id type="integer">1857079</customer-id>
            <job-number type="integer">1</job-number>
            <name>Service</name>
            <status>complete</status>
          </job>
          <job>
            <id type="integer">3458977</id>
            <customer-id type="integer">1857079</customer-id>
            <job-number type="integer">2</job-number>
            <name>Service</name>
            <status>complete</status>
          </job>
          <job>
            <id type="integer">3459016</id>
            <customer-id type="integer">1864402</customer-id>
            <job-number type="integer">3</jo[...]
