---
http_interactions:
- request:
    method: get
    uri: https://daffyducts.kickservapp.com/jobs.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGVkNzNlZDVlMGUxNzYzMzZiMjkxZjI5ZGEzZjUzNTE3ZDM4YmY3YjowZWQ3M2VkNWUwZTE3NjMzNmIyOTFmMjlkYTNmNTM1MTdkMzhiZjdi
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - 67a1a84f27ec46afa3a239b981591786763d139a
      x-transaction:
      - 82b01499-13cd-4f31-99c5-d18363f8ed0a
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<jobs type=\"array\">\n
        \ <job>\n    <id type=\"integer\">17339075</id>\n    <customer-id type=\"integer\">6847479</customer-id>\n
        \   <job-number type=\"integer\">12093</job-number>\n    <created-at type=\"dateTime\">2017-07-25T15:42:22-04:00</created-at>\n
        \   <name>Duct and Dryer Combo</name>\n    <scheduled-on type=\"dateTime\">2017-08-04T08:00:00-04:00</scheduled-on>\n
        \   <completed-on type=\"dateTime\" nil=\"true\"/>\n    <ok-to-sync type=\"boolean\"
        nil=\"true\"/>\n    <txn-id nil=\"true\"/>\n    <edit-sequence nil=\"true\"/>\n
        \   <ref-number nil=\"true\"/>\n    <subtotal type=\"decimal\">700.0</subtotal>\n
        \   <tax type=\"decimal\">0.0</tax>\n    <balance-remaining type=\"decimal\">700.0</balance-remaining>\n
        \   <estimate-type nil=\"true\"/>\n    <self-service type=\"boolean\">false</self-service>\n
        \   <custom-text1>No</custom-text1>\n    <custom-number1 type=\"decimal\"
        nil=\"true\"/>\n    <custom-datetime1 type=\"dateTime\" nil=\"true\"/>\n    <custom-text2>2</custom-text2>\n
        \   <custom-number2 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime2
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text3>3203</custom-text3>\n
        \   <custom-number3 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime3
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text4>700</custom-text4>\n    <custom-number4
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime4 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text5>Inbound</custom-text5>\n    <custom-number5 type=\"decimal\"
        nil=\"true\"/>\n    <custom-datetime5 type=\"dateTime\" nil=\"true\"/>\n    <custom-text6
        nil=\"true\"/>\n    <custom-number6 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime6
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text7 nil=\"true\"/>\n    <custom-number7
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime7 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text8 nil=\"true\"/>\n    <custom-number8 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime8 type=\"dateTime\" nil=\"true\"/>\n    <custom-text9
        nil=\"true\"/>\n    <custom-number9 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime9
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text10 nil=\"true\"/>\n    <custom-number10
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime10 type=\"dateTime\"
        nil=\"true\"/>\n    <total type=\"decimal\">700.0</total>\n    <recurring-job-id
        type=\"integer\" nil=\"true\"/>\n    <recurring-interval nil=\"true\"/>\n
        \   <updated-at type=\"dateTime\">2017-08-03T19:03:03-04:00</updated-at>\n
        \   <job-type-id type=\"integer\">14761</job-type-id>\n    <job-status-id
        type=\"integer\" nil=\"true\"/>\n    <recurring-end-date type=\"dateTime\"
        nil=\"true\"/>\n    <customer-ref-list-id nil=\"true\"/>\n    <txn-number
        nil=\"true\"/>\n    <txn-date type=\"dateTime\" nil=\"true\"/>\n    <sales-tax-percentage
        type=\"decimal\" nil=\"true\"/>\n    <item-sales-tax-ref-list-id nil=\"true\"/>\n
        \   <item-sales-tax-ref-full-name nil=\"true\"/>\n    <customer-sales-tax-code-ref-list-id
        nil=\"true\"/>\n    <customer-sales-tax-code-ref-full-name nil=\"true\"/>\n
        \   <custom-text11></custom-text11>\n    <custom-text12></custom-text12>\n
        \   <custom-text13></custom-text13>\n    <custom-text14></custom-text14>\n
        \   <custom-text15></custom-text15>\n    <custom-text16></custom-text16>\n
        \   <custom-text17></custom-text17>\n    <custom-text18></custom-text18>\n
        \   <custom-text19></custom-text19>\n    <custom-text20></custom-text20>\n
        \   <duration type=\"decimal\" nil=\"true\"/>\n    <ends-at type=\"dateTime\"
        nil=\"true\"/>\n    <created-by type=\"integer\">11305</created-by>\n    <updated-by
        type=\"integer\">11315</updated-by>\n    <invoice-terms>Net 15 - Due 15 days
        from the date of job completion. </invoice-terms>\n    <invoice-notes>There
        is a 1.5% monthly fee for past due invoices. Thank you for your business.</invoice-notes>\n
        \   <estimate-terms>Bid price good for 7 days.</estimate-terms>\n    <estimate-notes></estimate-notes>\n
        \   <tax-id type=\"integer\" nil=\"true\"/>\n    <ship-date type=\"dateTime\"
        nil=\"true\"/>\n    <ship-method-ref-full-name nil=\"true\"/>\n    <description>$700,
        Suwanee, 2 systems, 3203 sq ft, free DVC, Before and after Pictures</description>\n
        \   <chosen-days-of-week type=\"array\"/>\n    <max-recurring-iterator type=\"integer\"
        nil=\"true\"/>\n    <recurring-iterator type=\"integer\" nil=\"true\"/>\n
        \   <detailed-invoice type=\"boolean\">true</detailed-invoice>\n    <service-type-id
        type=\"integer\" nil=\"true\"/>\n    <status>scheduled</status>\n    <invoice-status>unpaid</invoice-status>\n
        \   <invoice-date type=\"dateTime\" nil=\"true\"/>\n    <invoice-sent-date
        type=\"dateTime\" nil=\"true\"/>\n    <tasks-count type=\"integer\">1</tasks-count>\n
        \   <won-date type=\"dateTime\">2017-08-03T17:11:10-04:00</won-date>\n    <po-number></po-number>\n
        \   <deleted-at type=\"dateTime\" nil=\"true\"/>\n    <schedule nil=\"true\"/>\n
        \   <on-hold type=\"dateTime\" nil=\"true\"/>\n    <estimate-scheduled-on
        type=\"dateTime\">2017-08-04T08:00:00-04:00</estimate-scheduled-on>\n    <estimate-sent-on
        type=\"dateTime\">2017-07-25T15:46:44-04:00</estimate-sent-on>\n    <estimate-viewed-on
        type=\"dateTime\">2017-07-25T17:42:52-04:00</estimate-viewed-on>\n    <invoice-viewed-on
        type=\"dateTime\" nil=\"true\"/>\n    <lost-date type=\"dateTime\" nil=\"true\"/>\n
        \   <started-on type=\"dateTime\" nil=\"true\"/>\n    <canceled-on type=\"dateTime\"
        nil=\"true\"/>\n    <qb-error nil=\"true\"/>\n    <invoice-paid-on type=\"dateTime\"
        nil=\"true\"/>\n    <notification-sent type=\"boolean\">false</notification-sent>\n
        \   <total-expenses type=\"decimal\">0.0</total-expenses>\n    <recurring-date
        type=\"dateTime\" nil=\"true\"/>\n    <job-allocations>\n      <allocations
        type=\"array\">\n        <allocation>\n          <id type=\"integer\">11315</id>\n
        \         <amount type=\"integer\">100</amount>\n          <edited type=\"boolean\">false</edited>\n
        \         <manual type=\"boolean\">false</manual>\n          <allocation-type>employee</allocation-type>\n
        \       </allocation>\n        <allocation>\n          <id nil=\"true\"/>\n
        \         <amount type=\"integer\">0</amount>\n          <edited type=\"boolean\">false</edited>\n
        \         <manual type=\"boolean\">false</manual>\n          <allocation-type>house</allocation-type>\n
        \       </allocation>\n      </allocations>\n      <include-expenses type=\"boolean\">true</include-expenses>\n
        \   </job-allocations>\n  </job>\n  <job>\n    <id type=\"integer\">17462216</id>\n
        \   <customer-id type=\"integer\">6852483</customer-id>\n    <job-number type=\"integer\">12139</job-number>\n
        \   <created-at type=\"dateTime\">2017-08-02T16:54:08-04:00</created-at>\n
        \   <name>Dryer Vent Cleaning</name>\n    <scheduled-on type=\"dateTime\">2017-08-04T12:00:00-04:00</scheduled-on>\n
        \   <completed-on type=\"dateTime\" nil=\"true\"/>\n    <ok-to-sync type=\"boolean\">false</ok-to-sync>\n
        \   <txn-id nil=\"true\"/>\n    <edit-sequence nil=\"true\"/>\n    <ref-number
        nil=\"true\"/>\n    <subtotal type=\"decimal\">0.0</subtotal>\n    <tax type=\"decimal\">0.0</tax>\n
        \   <balance-remaining type=\"decimal\">0.0</balance-remaining>\n    <estimate-type
        nil=\"true\"/>\n    <self-service type=\"boolean\">false</self-service>\n
        \   <custom-text1>No</custom-text1>\n    <custom-number1 type=\"decimal\"
        nil=\"true\"/>\n    <custom-datetime1 type=\"dateTime\" nil=\"true\"/>\n    <custom-text2></custom-text2>\n
        \   <custom-number2 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime2
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text3></custom-text3>\n    <custom-number3
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime3 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text4>0</custom-text4>\n    <custom-number4 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime4 type=\"dateTime\" nil=\"true\"/>\n    <custom-text5>Inbound</custom-text5>\n
        \   <custom-number5 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime5
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text6 nil=\"true\"/>\n    <custom-number6
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime6 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text7 nil=\"true\"/>\n    <custom-number7 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime7 type=\"dateTime\" nil=\"true\"/>\n    <custom-text8
        nil=\"true\"/>\n    <custom-number8 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime8
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text9 nil=\"true\"/>\n    <custom-number9
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime9 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text10 nil=\"true\"/>\n    <custom-number10 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime10 type=\"dateTime\" nil=\"true\"/>\n    <total type=\"decimal\">0.0</total>\n
        \   <recurring-job-id type=\"integer\" nil=\"true\"/>\n    <recurring-interval
        nil=\"true\"/>\n    <updated-at type=\"dateTime\">2017-08-03T17:17:36-04:00</updated-at>\n
        \   <job-type-id type=\"integer\">14759</job-type-id>\n    <job-status-id
        type=\"integer\" nil=\"true\"/>\n    <recurring-end-date type=\"dateTime\"
        nil=\"true\"/>\n    <customer-ref-list-id nil=\"true\"/>\n    <txn-number
        nil=\"true\"/>\n    <txn-date type=\"dateTime\" nil=\"true\"/>\n    <sales-tax-percentage[...]
