---
http_interactions:
- request:
    method: get
    uri: https://kickservapp.com/suffolkplumbing/jobs.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OThlMTgxZmEwY2U4Nzk3NzgzMjUwMmZmYjQzMTNjODQ5N2FjYTk2Yzo5OGUxODFmYTBjZTg3OTc3ODMyNTAyZmZiNDMxM2M4NDk3YWNhOTZj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - unknown
      x-transaction:
      - 1b16936b-b931-422f-8f90-8636299844a2
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<jobs type=\"array\">\n
        \ <job>\n    <id type=\"integer\">3458832</id>\n    <customer-id type=\"integer\">1857079</customer-id>\n
        \   <job-number type=\"integer\">1</job-number>\n    <created-at type=\"dateTime\">2015-04-07T16:36:54-04:00</created-at>\n
        \   <name>Service</name>\n    <scheduled-on type=\"dateTime\" nil=\"true\"/>\n
        \   <completed-on type=\"dateTime\">2015-04-07T17:00:00-04:00</completed-on>\n
        \   <ok-to-sync type=\"boolean\" nil=\"true\"/>\n    <txn-id nil=\"true\"/>\n
        \   <edit-sequence nil=\"true\"/>\n    <ref-number nil=\"true\"/>\n    <subtotal
        type=\"decimal\">275.0</subtotal>\n    <tax type=\"decimal\">23.72</tax>\n
        \   <balance-remaining type=\"decimal\">0.0</balance-remaining>\n    <estimate-type
        nil=\"true\"/>\n    <self-service type=\"boolean\">false</self-service>\n
        \   <custom-text1 nil=\"true\"/>\n    <custom-number1 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime1 type=\"dateTime\" nil=\"true\"/>\n    <custom-text2
        nil=\"true\"/>\n    <custom-number2 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime2
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text3 nil=\"true\"/>\n    <custom-number3
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime3 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text4 nil=\"true\"/>\n    <custom-number4 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime4 type=\"dateTime\" nil=\"true\"/>\n    <custom-text5
        nil=\"true\"/>\n    <custom-number5 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime5
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text6 nil=\"true\"/>\n    <custom-number6
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime6 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text7 nil=\"true\"/>\n    <custom-number7 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime7 type=\"dateTime\" nil=\"true\"/>\n    <custom-text8
        nil=\"true\"/>\n    <custom-number8 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime8
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text9 nil=\"true\"/>\n    <custom-number9
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime9 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text10 nil=\"true\"/>\n    <custom-number10 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime10 type=\"dateTime\" nil=\"true\"/>\n    <total type=\"decimal\">298.72</total>\n
        \   <recurring-job-id type=\"integer\" nil=\"true\"/>\n    <recurring-interval
        nil=\"true\"/>\n    <updated-at type=\"dateTime\">2016-01-25T03:05:23-05:00</updated-at>\n
        \   <job-type-id type=\"integer\" nil=\"true\"/>\n    <job-status-id type=\"integer\"
        nil=\"true\"/>\n    <recurring-end-date type=\"dateTime\" nil=\"true\"/>\n
        \   <customer-ref-list-id nil=\"true\"/>\n    <txn-number nil=\"true\"/>\n
        \   <txn-date type=\"dateTime\" nil=\"true\"/>\n    <sales-tax-percentage
        type=\"decimal\" nil=\"true\"/>\n    <item-sales-tax-ref-list-id nil=\"true\"/>\n
        \   <item-sales-tax-ref-full-name nil=\"true\"/>\n    <customer-sales-tax-code-ref-list-id
        nil=\"true\"/>\n    <customer-sales-tax-code-ref-full-name nil=\"true\"/>\n
        \   <custom-text11 nil=\"true\"/>\n    <custom-text12 nil=\"true\"/>\n    <custom-text13
        nil=\"true\"/>\n    <custom-text14 nil=\"true\"/>\n    <custom-text15 nil=\"true\"/>\n
        \   <custom-text16 nil=\"true\"/>\n    <custom-text17 nil=\"true\"/>\n    <custom-text18
        nil=\"true\"/>\n    <custom-text19 nil=\"true\"/>\n    <custom-text20 nil=\"true\"/>\n
        \   <duration type=\"decimal\" nil=\"true\"/>\n    <ends-at type=\"dateTime\"
        nil=\"true\"/>\n    <created-by type=\"integer\">13040</created-by>\n    <updated-by
        type=\"integer\">13040</updated-by>\n    <invoice-terms>Due upon receipt</invoice-terms>\n
        \   <invoice-notes>Thank you for your business!</invoice-notes>\n    <estimate-terms
        nil=\"true\"/>\n    <estimate-notes nil=\"true\"/>\n    <tax-id type=\"integer\">4810</tax-id>\n
        \   <ship-date type=\"dateTime\" nil=\"true\"/>\n    <ship-method-ref-full-name
        nil=\"true\"/>\n    <description>751223 main line backup</description>\n    <chosen-days-of-week
        type=\"array\"/>\n    <max-recurring-iterator type=\"integer\" nil=\"true\"/>\n
        \   <recurring-iterator type=\"integer\" nil=\"true\"/>\n    <detailed-invoice
        type=\"boolean\">true</detailed-invoice>\n    <service-type-id type=\"integer\"
        nil=\"true\"/>\n    <status>complete</status>\n    <invoice-status>paid</invoice-status>\n
        \   <invoice-date type=\"dateTime\">2015-04-07T00:00:00-04:00</invoice-date>\n
        \   <invoice-sent-date type=\"dateTime\" nil=\"true\"/>\n    <tasks-count
        type=\"integer\">0</tasks-count>\n    <won-date type=\"dateTime\" nil=\"true\"/>\n
        \   <po-number>751223</po-number>\n    <deleted-at type=\"dateTime\" nil=\"true\"/>\n
        \   <schedule nil=\"true\"/>\n    <on-hold type=\"dateTime\" nil=\"true\"/>\n
        \   <estimate-scheduled-on type=\"dateTime\" nil=\"true\"/>\n    <estimate-sent-on
        type=\"dateTime\" nil=\"true\"/>\n    <estimate-viewed-on type=\"dateTime\"
        nil=\"true\"/>\n    <invoice-viewed-on type=\"dateTime\" nil=\"true\"/>\n
        \   <lost-date type=\"dateTime\" nil=\"true\"/>\n    <started-on type=\"dateTime\"
        nil=\"true\"/>\n    <canceled-on type=\"dateTime\" nil=\"true\"/>\n    <qb-error
        nil=\"true\"/>\n    <invoice-paid-on type=\"dateTime\">2015-09-24T15:31:44-04:00</invoice-paid-on>\n
        \   <notification-sent type=\"boolean\">false</notification-sent>\n    <total-expenses
        type=\"decimal\">0.0</total-expenses>\n    <recurring-date type=\"dateTime\"
        nil=\"true\"/>\n    <job-allocations>\n      <allocations type=\"array\"/>\n
        \     <include-expenses type=\"boolean\">true</include-expenses>\n    </job-allocations>\n
        \   <last-recurring-date type=\"dateTime\" nil=\"true\"/>\n    <recurring-ended
        type=\"boolean\" nil=\"true\"/>\n  </job>\n  <job>\n    <id type=\"integer\">3458977</id>\n
        \   <customer-id type=\"integer\">1857079</customer-id>\n    <job-number type=\"integer\">2</job-number>\n
        \   <created-at type=\"dateTime\">2015-04-07T16:39:27-04:00</created-at>\n
        \   <name>Service</name>\n    <scheduled-on type=\"dateTime\" nil=\"true\"/>\n
        \   <completed-on type=\"dateTime\">2015-04-07T17:00[...]
