---
http_interactions:
- request:
    method: get
    uri: https://daffyducts.kickservapp.com/jobs.xml?only=job_number%2Cid%2Ccustomer_id%2Cname%2Cstatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGVkNzNlZDVlMGUxNzYzMzZiMjkxZjI5ZGEzZjUzNTE3ZDM4YmY3YjowZWQ3M2VkNWUwZTE3NjMzNmIyOTFmMjlkYTNmNTM1MTdkMzhiZjdi
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - 67a1a84f27ec46afa3a239b981591786763d139a
      x-transaction:
      - 4e86afe5-75e8-449d-aba9-25a8b392e87d
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <jobs type="array">
          <job>
            <id type="integer">17487404</id>
            <customer-id type="integer">1615210</customer-id>
            <job-number type="integer">12142</job-number>
            <name>Dryer Vent Cleaning</name>
            <status>scheduled</status>
          </job>
          <job>
            <id type="integer">17462216</id>
            <customer-id type="integer">6852483</customer-id>
            <job-number type="integer">12139</job-number>
            <name>Dryer Vent Cleaning</name>
            <status>scheduled</status>
          </job>
          <job>
            <id type="integer">17251663</id>
            <customer-id type="integer">6821634</customer-id>
            [...]
