---
http_interactions:
- request:
    method: get
    uri: https://kickservapp.com/suffolkplumbing/jobs/3.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OThlMTgxZmEwY2U4Nzk3NzgzMjUwMmZmYjQzMTNjODQ5N2FjYTk2Yzo5OGUxODFmYTBjZTg3OTc3ODMyNTAyZmZiNDMxM2M4NDk3YWNhOTZj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - unknown
      x-transaction:
      - fede3bef-53e6-4946-8990-bd184b7f6f87
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <job>
          <id type="integer">3459016</id>
          <customer-id type="integer">1864402</customer-id>
          <job-number type="integer">3</job-number>
          <created-at type="dateTime">2015-04-07T16:44:39-04:00</created-at>
          <name>Service</name>
          <scheduled-on type="dateTime" nil="true"/>
          <completed-on type="dateTime">2015-04-07T16:48:30-04:00</completed-on>
          <ok-to-sync type="boolean" nil="true"/>
          <txn-id nil="true"/>
          <edit-sequence nil="true"/>
          <ref-number nil="true"/>
          <subtotal type="decimal">325.0</subtotal>
          <tax type="decimal">28.03</tax>
          <balance-remaining type="decimal">0.0</balance-remaining>
          <estimate-type nil="true"/>
          <self-service type="boolean">false</self-service>
          <custom-text1 nil="true"/>
          <custom-number1 type="decimal" nil="true"/>
          <custom-datetime1 type="dateTime" nil="true"/>
          <custom-text2 nil="true"/>
          <custom-number2 type="decimal" nil="true"/>
          <custom-datetime2 type="dateTime" nil="true"/>
          <custom-text3 nil="true"/>
          <custom-number3 type="decimal" nil="true"/>
          <custom-datetime3 type="dateTime" nil="true"/>
          <custom-text4 nil="true"/>
          <custom-number4 type="decimal" nil="true"/>
          <custom-datetime4 type="dateTime" nil="true"/>
          <custom-text5 nil="true"/>
          <custom-number5 type="decimal" nil="true"/>
          <custom-datetime5 type="dateTime" nil="true"/>
          <custom-text6 nil="true"/>
          <custom-number6 type="decimal" nil="true"/>
          <custom-datetime6 type="dateTime" nil="true"/>
          <custom-text7 nil="true"/>
          <custom-number7 type="decimal" nil="true"/>
          <custom-datetime7 type="dateTime" nil="true"/>
          <custom-text8 nil="true"/>
          <custom-number8 type="decimal" nil="true"/>
          <custom-datetime8 type="dateTime" nil="true"/>
          <custom-text9 nil="true"/>
          <custom-number9 type="decimal" nil="true"/>
          <custom-datetime9 type="dateTime" nil="true"/>
          <custom-text10 nil="true"/>
          <custom-number10 type="decimal" nil="true"/>
          <custom-datetime10 type="dateTime" nil="true"/>
          <total type="decimal">353.03</total>
          <recurring-job-id type="integer" nil="true"/>
          <recurring-interval nil="true"/>
          <updated-at type="dateTime">2015-09-24T15:31:44-04:00</updated-at>
          <job-type-id type="integer">17465</job-type-id>
          <job-status-id type="integer" nil="true"/>
          <recurring-end-date type="dateTime" nil="true"/>
          <customer-ref-list-id nil="true"/>
          <txn-number nil="true"/>
          <txn-date type="dateTime" nil="true"/>
          <sales-tax-percentage type="decimal" nil="true"/>
          <item-sales-tax-ref-list-id nil="true"/>
          <item-sales-tax-ref-full-name nil="true"/>
          <customer-sales-tax-code-ref-list-id nil="true"/>
          <customer-sales-tax-code-ref-full-name nil="true"/>
          <custom-text11 nil="true"/>
          <custom-text12 nil="true"/>
          <custom-text13 nil="true"/>
          <custom-text14 nil="true"/>
          <custom-text15 nil="true"/>
          <custom-text16 nil="true"/>
          <custom-text17 nil="true"/>
          <custom-text18 nil="true"/>
          <custom-text19 nil="true"/>
          <custom-text20 nil="true"/>
          <duration type="decimal" nil="true"/>
          <ends-at type="dateTime" nil="true"/>
          <created-by type="integer">13040</created-by>
          <updated-by type="integer">13040</updated-by>
          <invoice-terms>Due upon receipt</invoice-terms>
          <invoice-notes>Thank you for your business!</invoice-notes>
          <estimate-terms nil="true"/>
          <estimate-notes nil="true"/>
          <tax-id type="integer">4810</tax-id>
          <ship-date type="dateTime" nil="true"/>
          <ship-method-ref-full-name nil="true"/>
          <description>slow drain in sink</description>
          <chosen-days-of-week type="array"/>
          <max-recurring-iterator type="integer" nil="true"/>
          <recurring-iterator type="integer" nil="true"/>
          <detailed-invoice type="boolean">true</detailed-invoice>
          <service-type-id type="integer" nil="true"/>
          <status>complete</status>
          <invoice-status>paid</invoice-status>
          <invoice-date type="dateTime">2015-04-07T16:48:37-04:00</invoice-date>
          <invoice-sent-date type="dateTime" nil="true"/>
          <tasks-count type="integer">0</tasks-count>
          <won-date type="dateTime" nil="true"/>
          <po-number></po-number>
          <deleted-at type="dateTime" nil="true"/>
          <schedule nil="true"/>
          <on-hold type="dateTime" nil="true"/>
          <estimate-scheduled-on type="dateTime" nil="true"/>
          <estimate-sent-on type="dateTime" nil="true"/>
          <estimate-viewed-on type="dateTime" nil="true"/>
          <invoice-viewed-on type="dateTime" nil="true"/>
          <lost-date type="dateTime" nil="true"/>
          <started-on type="dateTime" nil="true"/>
          <canceled-on type="dateTime" nil="true"/>
          <qb-error nil="true"/>
          <invoice-paid-on type="dateTime">2015-09-24T15:31:44-04:00</invoice-paid-on>
          <notification-sent type="boolean">false</notification-sent>
          <total-expenses type="decimal">0.0</total-expenses>
          <recurring-date type="dateTime" nil="true"/>
          <job-allocations>
            <allocations type="array"/>
            <include-expenses type="boolean">true</include-expenses>
          </job-allocations>
          <last-recurring-date type="dateTime" nil="true"/>
          <recurring-ended type="boolean" nil="true"/>
        </job>
  recorded_at: Tue, 11 Sep 2018 13:07:01 GMT
recorded_with: VCR 4.0.0
