---
http_interactions:
- request:
    method: get
    uri: https://kickservapp.com/suffolkplumbing/customers/2.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OThlMTgxZmEwY2U4Nzk3NzgzMjUwMmZmYjQzMTNjODQ5N2FjYTk2Yzo5OGUxODFmYTBjZTg3OTc3ODMyNTAyZmZiNDMxM2M4NDk3YWNhOTZj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - unknown
      x-transaction:
      - 75ae2733-5611-4d60-ae62-a6c89166b80b
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <customers>
          <id type="integer">1857079</id>
          <customer-number type="integer">2</customer-number>
          <origin>manual</origin>
          <created-at type="dateTime">2015-04-06T18:45:47-04:00</created-at>
          <name>Savino Marge</name>
          <phone-number>888-666-8830</phone-number>
          <fax></fax>
          <service-address>161 Bellport ave</service-address>
          <service-city>Medford </service-city>
          <service-state>NY</service-state>
          <service-zip-code></service-zip-code>
          <billing-address>601 Merritt 7 </billing-address>
          <billing-city>Norwalk </billing-city>
          <billing-state>CT</billing-state>
          <billing-zip-code>06851</billing-zip-code>
          <special-instructions></special-instructions>
          <email-address></email-address>
          <alt-phone-number></alt-phone-number>
          <parent-id type="integer">1854914</parent-id>
          <password-digest nil="true"/>
          <list-id nil="true"/>
          <time-created type="dateTime" nil="true"/>
          <time-modified type="dateTime" nil="true"/>
          <edit-sequence nil="true"/>
          <full-name>Savino Marge</full-name>
          <is-active type="boolean">true</is-active>
          <parent-ref-list-id nil="true"/>
          <sublevel type="integer" nil="true"/>
          <company-name>Savino Marge</company-name>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <phone>888-666-8830</phone>
          <mobile></mobile>
          <pager nil="true"/>
          <alt-phone nil="true"/>
          <email nil="true"/>
          <contact nil="true"/>
          <alt-contact nil="true"/>
          <customer-type-ref-full-name nil="true"/>
          <terms-ref-full-name nil="true"/>
          <sales-rep-ref-full-name nil="true"/>
          <balance type="decimal" nil="true"/>
          <total-balance type="decimal" nil="true"/>
          <sales-tax-code-ref-full-name nil="true"/>
          <item-sales-tax-ref-full-name nil="true"/>
          <resale-number nil="true"/>
          <account-number nil="true"/>
          <credit-limit type="decimal" nil="true"/>
          <preferred-payment-method-ref-full-name nil="true"/>
          <job-status nil="true"/>
          <job-start-date type="dateTime" nil="true"/>
          <job-projected-end-date type="dateTime" nil="true"/>
          <job-end-date type="dateTime" nil="true"/>
          <job-desc nil="true"/>
          <job-type-ref-full-name nil="true"/>
          <is-statement-with-parent type="boolean" nil="true"/>
          <delivery-method nil="true"/>
          <price-level-ref-full-name nil="true"/>
          <custom-text1 nil="true"/>
          <custom-number1 type="decimal" nil="true"/>
          <custom-datetime1 type="dateTime" nil="true"/>
          <custom-text2 nil="true"/>
          <custom-number2 type="decimal" nil="true"/>
          <custom-datetime2 type="dateTime" nil="true"/>
          <custom-text3 nil="true"/>
          <custom-number3 type="decimal" nil="true"/>
          <custom-datetime3 type="dateTime" nil="true"/>
          <custom-text4 nil="true"/>
          <custom-number4 type="decimal" nil="true"/>
          <custom-datetime4 type="dateTime" nil="true"/>
          <custom-text5 nil="true"/>
          <custom-number5 type="decimal" nil="true"/>
          <custom-datetime5 type="dateTime" nil="true"/>
          <custom-text6 nil="true"/>
          <custom-number6 type="decimal" nil="true"/>
          <custom-datetime6 type="dateTime" nil="true"/>
          <custom-text7 nil="true"/>
          <custom-number7 type="decimal" nil="true"/>
          <custom-datetime7 type="dateTime" nil="true"/>
          <custom-text8 nil="true"/>
          <custom-number8 type="decimal" nil="true"/>
          <custom-datetime8 type="dateTime" nil="true"/>
          <custom-text9 nil="true"/>
          <custom-number9 type="decimal" nil="true"/>
          <custom-datetime9 type="dateTime" nil="true"/>
          <custom-text10 nil="true"/>
          <custom-number10 type="decimal" nil="true"/>
          <custom-datetime10 type="dateTime" nil="true"/>
          <updated-at type="dateTime">2017-10-14T12:43:52-04:00</updated-at>
          <service-country></service-country>
          <billing-country>usa</billing-country>
          <sales-tax-code-ref-list-id nil="true"/>
          <item-sales-tax-ref-list-id nil="true"/>
          <custom-text11 nil="true"/>
          <custom-text12 nil="true"/>
          <custom-text13 nil="true"/>
          <custom-text14 nil="true"/>
          <custom-text15 nil="true"/>
          <custom-text16 nil="true"/>
          <custom-text17 nil="true"/>
          <custom-text18 nil="true"/>
          <custom-text19 nil="true"/>
          <custom-text20 nil="true"/>
          <created-by type="integer">13040</created-by>
          <updated-by type="integer">13040</updated-by>
          <tax-id type="integer">4810</tax-id>
          <which-billing-address>parent</which-billing-address>
          <customer-type-id type="integer" nil="true"/>
          <customer-source-id type="integer" nil="true"/>
          <import-id type="integer" nil="true"/>
          <stripe-customer-id nil="true"/>
          <token>AN_cTgNG9eW0PD4rTXnRHbTcFYVpuXQOnloX-KzKgpY</token>
          <remember-me-token nil="true"/>
          <latitude type="float">40.832136</latitude>
          <longitude type="float">-72.957586</longitude>
          <company type="boolean">false</company>
          <deleted-at type="dateTime" nil="true"/>
          <qb-error nil="true"/>
          <send-reminders type="boolean">true</send-reminders>
          <notification-email-address nil="true"/>
          <notification-phone-number nil="true"/>
          <notify-via-email type="boolean">true</notify-via-email>
          <notify-via-sms type="boolean">false</notify-via-sms>
          <send-notifications type="boolean">true</send-notifications>
          <notification-email nil="true"/>
          <sales-terms-ref-id nil="true"/>
          <sales-tax-code-id type="integer" nil="true"/>
          <service-address-2 nil="true"/>
          <billing-address-2 nil="true"/>
          <last-job-completed-number type="integer">8856</last-job-completed-number>
          <last-job-completed-at type="dateTime">2017-10-20T11:20:26-04:00</last-job-completed-at>
          <last-job-completed-name>HOMESERVE INTERNAL PLUMBING AND DRAIN</last-job-completed-name>
          <children type="array"/>
        </customers>
  recorded_at: Tue, 11 Sep 2018 13:05:52 GMT
recorded_with: VCR 4.0.0
