---
http_interactions:
- request:
    method: get
    uri: https://daffyducts.kickservapp.com/customers.xml?service_zip_code=30102
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGVkNzNlZDVlMGUxNzYzMzZiMjkxZjI5ZGEzZjUzNTE3ZDM4YmY3YjowZWQ3M2VkNWUwZTE3NjMzNmIyOTFmMjlkYTNmNTM1MTdkMzhiZjdi
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - 67a1a84f27ec46afa3a239b981591786763d139a
      x-transaction:
      - 520278e7-dcbb-4410-ad19-69f5f8cf67b8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<customers type=\"array\">\n
        \ <customer>\n    <id type=\"integer\">1614795</id>\n    <customer-number
        type=\"integer\">3</customer-number>\n    <origin>manual</origin>\n    <created-at
        type=\"dateTime\">2009-02-24T13:58:26-05:00</created-at>\n    <name>Aime Pavao</name>\n
        \   <phone-number>770-795-1310</phone-number>\n    <fax nil=\"true\"/>\n    <service-address>Aime
        Pavao\n1177 Meadow Oaks Drive</service-address>\n    <service-city>Acworth</service-city>\n
        \   <service-state>GA</service-state>\n    <service-zip-code>30102</service-zip-code>\n
        \   <billing-address>Aime Pavao\n1177 Meadow Oaks Drive</billing-address>\n
        \   <billing-city>Acworth</billing-city>\n    <billing-state>GA</billing-state>\n
        \   <billing-zip-code>30102</billing-zip-code>\n    <special-instructions
        nil=\"true\"/>\n    <email-address>apavao@comcast.net</email-address>\n    <alt-phone-number
        nil=\"true\"/>\n    <parent-id type=\"integer\" nil=\"true\"/>\n    <password-digest
        nil=\"true\"/>\n    <list-id>800000EF-1223666518</list-id>\n    <time-created
        type=\"dateTime\">2008-10-10T16:21:58-04:00</time-created>\n    <time-modified
        type=\"dateTime\">2008-10-10T16:21:58-04:00</time-modified>\n    <edit-sequence>1223666518</edit-sequence>\n
        \   <full-name>Aime Pavao</full-name>\n    <is-active type=\"boolean\">true</is-active>\n
        \   <parent-ref-list-id nil=\"true\"/>\n    <sublevel type=\"integer\">0</sublevel>\n
        \   <company-name nil=\"true\"/>\n    <first-name>Aime</first-name>\n    <last-name>Pavao</last-name>\n
        \   <phone>770-795-1310</phone>\n    <mobile nil=\"true\"/>\n    <pager nil=\"true\"/>\n
        \   <alt-phone nil=\"true\"/>\n    <email>apavao@comcast.net</email>\n    <contact>Aime
        Pavao</contact>\n    <alt-contact nil=\"true\"/>\n    <customer-type-ref-full-name>Internet:Spotrunner
        Web</customer-type-ref-full-name>\n    <terms-ref-full-name>Due on receipt</terms-ref-full-name>\n
        \   <sales-rep-ref-full-name>JT</sales-rep-ref-full-name>\n    <balance type=\"decimal\">0.0</balance>\n
        \   <total-balance type=\"decimal\">0.0</total-balance>\n    <sales-tax-code-ref-full-name>Tax</sales-tax-code-ref-full-name>\n
        \   <item-sales-tax-ref-full-name>Out of State</item-sales-tax-ref-full-name>\n
        \   <resale-number nil=\"true\"/>\n    <account-number nil=\"true\"/>\n    <credit-limit
        type=\"decimal\" nil=\"true\"/>\n    <preferred-payment-method-ref-full-name>MasterCard</preferred-payment-method-ref-full-name>\n
        \   <job-status>None</job-status>\n    <job-start-date type=\"dateTime\" nil=\"true\"/>\n
        \   <job-projected-end-date type=\"dateTime\" nil=\"true\"/>\n    <job-end-date
        type=\"dateTime\" nil=\"true\"/>\n    <job-desc nil=\"true\"/>\n    <job-type-ref-full-name
        nil=\"true\"/>\n    <is-statement-with-parent type=\"boolean\" nil=\"true\"/>\n
        \   <delivery-method nil=\"true\"/>\n    <price-level-ref-full-name nil=\"true\"/>\n
        \   <custom-text1 nil=\"true\"/>\n    <custom-number1 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime1 type=\"dateTime\" nil=\"true\"/>\n    <custom-text2
        nil=\"true\"/>\n    <custom-number2 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime2
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text3 nil=\"true\"/>\n    <custom-number3
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime3 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text4 nil=\"true\"/>\n    <custom-number4 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime4 type=\"dateTime\" nil=\"true\"/>\n    <custom-text5
        nil=\"true\"/>\n    <custom-number5 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime5
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text6 nil=\"true\"/>\n    <custom-number6
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime6 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text7 nil=\"true\"/>\n    <custom-number7 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime7 type=\"dateTime\" nil=\"true\"/>\n    <custom-text8
        nil=\"true\"/>\n    <custom-number8 type=\"decimal\" nil=\"true\"/>\n    <custom-datetime8
        type=\"dateTime\" nil=\"true\"/>\n    <custom-text9 nil=\"true\"/>\n    <custom-number9
        type=\"decimal\" nil=\"true\"/>\n    <custom-datetime9 type=\"dateTime\" nil=\"true\"/>\n
        \   <custom-text10 nil=\"true\"/>\n    <custom-number10 type=\"decimal\" nil=\"true\"/>\n
        \   <custom-datetime10 type=\"dateTime\" nil=\"true\"/>\n    <updated-at type=\"dateTime\">2009-02-24T14:00:09-05:00</updated-at>\n
        \   <service-country></service-country>\n    <billing-country></billing-country>\n
        \   <sales-tax-code-ref-list-id>80000001-1196217546</sales-tax-code-ref-list-id>\n
        \   <item-sales-tax-ref-list-id>80000001-1196218743</item-sales-tax-ref-list-id>\n
        \   <custom-text11 nil=\"true\"/>\n    <custom-text12 nil=\"true\"/>\n    <custom-text13
        nil=\"true\"/>\n    <custom-text14 nil=\"true\"/>\n    <custom-text15 nil=\"true\"/>\n
        \   <custom-text16 nil=\"true\"/>\n    <custom-text17 nil=\"true\"/>\n    <custom-text18
        nil=\"true\"/>\n    <custom-text19 nil=\"true\"/>\n    <custom-text20 nil=\"true\"/>\n
        \   <created-by type=\"integer\" nil=\"true\"/>\n    <updated-by type=\"integer\"
        nil=\"true\"/>\n    <tax-id type=\"integer\" nil=\"true\"/>\n    <which-billing-address>service</which-billing-address>\n
        \   <customer-type-id type=\"integer\" nil=\"true\"/>\n    <customer-source-id
        type=\"integer\" nil=\"true\"/>\n    <import-id type=\"integer\" nil=\"true\"/>\n
        \   <stripe-customer-id nil=\"true\"/>\n    <token>aM1x3Nf3L3Xq07Knz8JxkqfNRRAG-gDXOoNbUsMpOtc</token>\n
        \   <remember-me-token nil=\"true\"/>\n    <latitude type=\"float\" nil=\"true\"/>\n
        \   <longitude type=\"float\" nil=\"true\"/>\n    <company type=\"boolean\">false</company>\n
        \   <deleted-at type=\"dateTime\" nil=\"true\"/>\n    <qb-error nil=\"true\"/>\n
        \   <send-reminders type=\"boolean\">true</send-reminders>\n    <notification-email-address
        nil=\"true\"/>\n    <notification-phone-number nil=\"true\"/>\n    <notify-via-email
        type=\"boolean\">true</notify-via-email>\n    <notify-via-sms type=\"boolean\">false</notify-via-sms>\n
        \   <send-notifications type=\"boolean\">true</send-notifications>\n    <notification-email
        nil=\"true\"/>\n    <sales-terms-ref-id nil=\"true\"/>\n    <sales-tax-code-id
        type=\"integer\" nil=\"true\"/>\n    <service-address-2 nil=\"true\"/>\n    <billing-address-2
        nil=\"true\"/>\n    <children type=\"array\">\n      <child type=\"Customer\">\n
        \       <id type=\"integer\">1614796</id>\n        <customer-number type=\"integer\">4</customer-number>\n
        \       <origin>manual</origin>\n        <created-at type=\"dateTime\">2009-02-24T13:58:26-05:00</created-at>\n
        \       <name>100908APDUCTDRYEROXINE</name>\n        <phone-number>770-795-1310</phone-number>\n
        \       <fax nil=\"true\"/>\n        <service-address>Aime Pavao\n1177 Meadow
        Oaks Drive</service-address>\n        <service-city>Acworth</service-city>\n
        \       <service-state>GA</service-state>\n        <service-zip-code>30102</service-zip-code>\n
        \       <billing-address>Aime Pavao\n1177 Meadow Oaks Drive</billing-address>\n
        \       <billing-city>Acworth</billing-city>\n        <billing-state>GA</billing-state>\n
        \       <billing-zip-code>30102</billing-zip-code>\n        <special-instructions
        nil=\"true\"/>\n        <email-address>apavao@comcast.net</email-address>\n
        \       <alt-phone-number nil=\"true\"/>\n        <parent-id type=\"integer\">1614795</parent-id>\n
        \       <password-digest nil=\"true\"/>\n        <list-id>800000F0-1223666564</list-id>\n
        \       <time-created type=\"dateTime\">2008-10-10T16:22:44-04:00</time-created>\n
        \       <time-modified type=\"dateTime\">2008-10-20T17:47:40-04:00</time-modified>\n
        \       <edit-sequence>1223666730</edit-sequence>\n        <full-name>100908APDUCTDRYEROXINE</full-name>\n
        \       <is-active type=\"boolean\">true</is-active>\n        <parent-ref-list-id>800000EF-1223666518</parent-ref-list-id>\n
        \       <sublevel type=\"integer\">1</sublevel>\n        <company-name nil=\"true\"/>\n
        \       <first-name>Aime</first-name>\n        <last-name>Pavao</last-name>\n
        \       <phone>770-795-1310</phone>\n        <mobile nil=\"true\"/>\n        <pager
        nil=\"true\"/>\n        <alt-phone nil=\"true\"/>\n        <email>apavao@comcast.net</email>\n
        \       <contact>Aime Pavao</contact>\n        <alt-contact nil=\"true\"/>\n
        \       <customer-type-ref-full-name>Internet:Spotrunner Web</customer-type-ref-full-name>\n
        \       <terms-ref-full-name>Due on receipt</terms-ref-full-name>\n        <sales-rep-ref-full-name>JT</sales-rep-ref-full-name>\n
        \       <balance type=\"decimal\">0.0</balance>\n        <total-balance type=\"decimal\">0.0</total-balance>\n
        \       <sales-tax-code-ref-full-name>Tax</sales-tax-code-ref-full-name>\n
        \       <item-sales-tax-ref-full-name>Out of State</item-sales-tax-ref-full-name>\n
        \       <resale-number nil=\"true\"/>\n        <account-number nil=\"true\"/>\n
        \       <credit-limit type=\"decimal\" nil=\"true\"/>\n        <preferred-payment-method-ref-full-name>MasterCard</preferred-payment-method-ref-full-name>\n
        \       <job-status>Closed</job-status>\n        <job-start-date type=\"dateTime\">2008-10-09T00:00:00-04:00</job-start-date>\n
        \       <job-projected-end-date type=\"dateTime\">2008-10-09T00:00:00-04:00</job-projected-end-date>\n
        \       <job-end-date type=\"dateTime\">2008-10-10T00:00:00-04:00</job-end-date>\n
        \       <job-desc>DUCT AND DRYER AND OXINE</job-desc>\n        <job-type-ref-full-name>Residential</job-type-ref-full-name>\n
        \       <is-statement-with-parent type=\"boolean\" nil=\"true\"/>\n        <delivery-method
        nil=\"true\"/>\n        <price-level-ref-full-name nil=\"true\"/>\n        <custom-text1
        nil=\"true\"/>\n        <custom-number1 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime1 type=\"dateTime\" nil=\"true\"/>\n        <custom-text2
        nil=\"true\"/>\n        <custom-number2 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime2 type=\"dateTime\" nil=\"true\"/>\n        <custom-text3
        nil=\"true\"/>\n        <custom-number3 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime3 type=\"dateTime\" nil=\"true\"/>\n        <custom-text4
        nil=\"true\"/>\n        <custom-number4 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime4 type=\"dateTime\" nil=\"true\"/>\n        <custom-text5
        nil=\"true\"/>\n        <custom-number5 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime5 type=\"dateTime\" nil=\"true\"/>\n        <custom-text6
        nil=\"true\"/>\n        <custom-number6 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime6 type=\"dateTime\" nil=\"true\"/>\n        <custom-text7
        nil=\"true\"/>\n        <custom-number7 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime7 type=\"dateTime\" nil=\"true\"/>\n        <custom-text8
        nil=\"true\"/>\n        <custom-number8 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime8 type=\"dateTime\" nil=\"true\"/>\n        <custom-text9
        nil=\"true\"/>\n        <custom-number9 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime9 type=\"dateTime\" nil=\"true\"/>\n        <custom-text10
        nil=\"true\"/>\n        <custom-number10 type=\"decimal\" nil=\"true\"/>\n
        \       <custom-datetime10 type=\"dateTime\" nil=\"true\"/>\n        <updated-at
        type=\"dateTime\">2009-02-24T14:00:09-05:00</updated-at>\n        <service-country></service-country>\n
        \       <billing-country></billing-country>\n        <sales-tax-code-ref-list-id>80000001-1196217546</sales-tax-code-ref-list-id>\n
        \       <item-sales-tax-ref-list-id>80000001-1196218743</item-sales-tax-ref-list-id>\n
        \       <custom-text11 nil=\"true\"/>\n        <custom-text12 nil=\"true\"/>\n
        \       <custom-text13 nil=\"true\"/>\n        <custom-text14 nil=\"true\"/>\n
        \       <custom-text15 nil=\"true\"/>\n        <custom-text16 nil=\"true\"/>\n
        \       <custom-text17 nil=\"true\"/>\n        <custom-text18 nil=\"true\"/>\n
        \       <custom-text19 nil=\"true\"/>\n        <custom-text20 nil=\"true\"/>\n
        \       <created-by type=\"integer\" nil=\"true\"/>\n        <updated-by type=\"integer\"
        nil=\"true\"/>\n        <tax-id type=\"integer\" nil=\"true\"/>\n        <which-billing-address>service</which-billing-address>\n
        \       <customer-type-id type=\"integer\" nil=\"true\"/>\n        <customer-source-id
        type=\"integer\" nil=\"true\"/>\n        <import-id type=\"integer\" nil=\"true\"/>\n
        \       <stripe-customer-id nil=\"true\"/>\n        <token>8Sew-ORu13TKuMFAwjBb69z47eo_Rrp99pNSmB0gdoo</token>\n
        \       <remember-me-token nil=\"true\"/>\n        <latitude type=\"float\"
        nil=\"true\"/>\n        <longitude type=\"float\" nil=\"true\"/>\n        <company
        type=\"boolean\">false</company>\n        <deleted-at type=\"dateTime\" nil=\"true\"/>\n
        \       <qb-error nil=\"true\"/>\n        <send-reminders type=\"boolean\">true</send-reminders>\n
        \       <notification-email-address nil=\"true\"/>\n        <notification-phone-number
        nil=\"true\"/>\n        <notify-via-email type=\"boolean\">true</notify-via-email>\n
        \       <notify-via-sms type=\"boolean\">false</notify-via-sms>\n        <send-notifications
        type=\"boolean\">true</send-notifications>\n        <notification-email nil=\"true\"/>\n
        \       <sales-terms-ref-id nil=\"true\"/>\n        <sales-tax-code-id type=\"integer\"
        nil=\"true\"/>\n        <service-address-2 nil=\"true\"/>\n        <billing-address-2
        nil=\"true\"/>\n      </child>\n    </children>\n  </customer>\n  <customer>\n
        \   <id type=\"integer\">1614796</id>\n    <customer-number type=\"integer\">4</customer-number>\n
        \   <origin>manual</origin>\n    <created-at type=\"dateTime\">2009-02-24T13:58:26-05:00</created-at>\n
        \   <name>100908APDUCTDRYEROXINE</name>\n    <phone-number>770-795-1310</phone-number>\n
        \   <fax nil=\"true\"/>\n    <service-address>Aime Pavao\n1177 Meadow Oaks
        Drive</service-address>\n    <service-city>Acworth</service-city>\n    <service-state>GA</service-state>\n
        \   <service-zip-code>30102</service-zip-code>\n    <billing-address>Aime
        Pavao\n1177 Meadow Oaks Drive</billing-address>\n    <billing-city>Acworth</billing-city>\n
        \   <billing-state>GA</billing-state>\n    <billing-zip-code>30102</billing-zip-code>\n
        \   <special-instructions nil=\"true\"/>\n    <email-address>apavao@comcast.net</email-address>\n
        \   <alt-phone-number nil=\"true\"/>\n    <parent-id type=\"integer\">1614795</parent-id>\n
        \   <password-digest nil=\"true\"/>\n    <list-id>800000F0-1223666564</list-id>\n
        \   <time-created type=\"dateTime\">2008-10-10T16:22:44-04:00</time-created>\n
        \   <time-modified type=\"dateTime\">2008-10-20T17:47:40-04:00</time-modified>\n
        \   <edit-sequence>1223666730</edit-sequence>\n    <fu[...]
