---
http_interactions:
- request:
    method: get
    uri: https://daffyducts.kickservapp.com/jobs.xml?scheduled=today
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGVkNzNlZDVlMGUxNzYzMzZiMjkxZjI5ZGEzZjUzNTE3ZDM4YmY3YjowZWQ3M2VkNWUwZTE3NjMzNmIyOTFmMjlkYTNmNTM1MTdkMzhiZjdi
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-revision:
      - 67a1a84f27ec46afa3a239b981591786763d139a
      x-transaction:
      - c0963a79-57c1-4771-8b3d-90390466d0c9
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <jobs type="array">
          <job>
            <id type="integer">17325261</id>
            <customer-id type="integer">6845284</customer-id>
            <job-number type="integer">12087</job-number>
            <created-at type="dateTime">2017-07-25T09:12:17-04:00</created-at>
            <name>Duct Cleaning</name>
            <scheduled-on type="dateTime">2017-08-04T08:00:00-04:00</scheduled-on>
            <completed-on type="dateTime" nil="true"/>
            <ok-to-sync type="boolean" nil="true"/>
            <txn-id nil="true"/>
            <edit-sequence nil="true"/>
            <ref-number nil="true"/>
            <subtotal type="decimal">375.0</subtotal>
            <tax type="decimal">0.0</tax>
            <balance-remaining type="decimal">375.0</balance-remaining>
            <estimate-type nil="true"/>
            <self-service type="boolean">false</self-service>
            <custom-text1>No</custom-text1>
            <custom-number1 type="decimal" nil="true"/>
            <custom-datetime1 type="dateTime" nil="true"/>
            <custom-text2>1</custom-text2>
            <custom-number2 type="decimal" nil="true"/>
            <custom-datetime2 type="dateTime" nil="true"/>
            <custom-text3>1274</custom-text3>
            <custom-number3 type="decimal" nil="true"/>
            <custom-datetime3 type="dateTime" nil="true"/>
            <custom-text4>400</custom-text4>
            <custom-number4 type="decimal" nil="true"/>
            <custom-datetime4 type="dateTime" nil="true"/>
            <custom-text5>Inbound</custom-text5>
            <custom-number5 type="decimal" nil="true"/>
            <custom-datetime5 type="dateTime" nil="true"/>
            <custom-text6 nil="true"/>
            <custom-number6 type="decimal" nil="true"/>
            <custom-datetime6 type="dateTime" nil="true"/>
            <custom-text7 nil="true"/>
            <custom-number7 type="decimal" nil="true"/>
            <custom-datetime7 type="dateTime" nil="true"/>
            <custom-text8 nil="true"/>
            <custom-number8 type="decimal" nil="true"/>
            <custom-datetime8 type="dateTime" nil="true"/>
            <custom-text9 nil="true"/>
            <custom-number9 type="decimal" nil="true"/>
            <custom-datetime9 type="dateTime" nil="true"/>
            <custom-text10 nil="true"/>
            <custom-number10 type="decimal" nil="true"/>
            <custom-datetime10 type="dateTime" nil="true"/>
            <total type="decimal">375.0</total>
            <recurring-job-id type="integer" nil="true"/>
            <recurring-interval nil="true"/>
            <updated-at type="dateTime">2017-08-04T08:00:23-04:00</updated-at>
            <job-type-id type="integer">14760</job-type-id>
            <job-status-id type="integer" nil="true"/>
            <recurring-end-date type="dateTime" nil="true"/>
            <customer-ref-list-id nil="true"/>
            <txn-number nil="true"/>
            <txn-date type="dateTime" nil="true"/>
            <sales-tax-percentage type="decimal" nil="true"/>
            <item-sales-tax-ref-list-id nil="true"/>
            <item-sales-tax-ref-full-name nil="true"/>
            <customer-sales-tax-code-ref-list-id nil="true"/>
            <customer-sales-tax-code-ref-full-name nil="true"/>
            <custom-text11></custom-text11>
            <custom-text12></custom-text12>
            <custom-text13></custom-text13>
            <custom-text14></custom-text14>
            <custom-text15></custom-text15>
            <custom-text16></custom-text16>
            <custom-text17></custom-text17>
            <custom-text18></custom-text18>
            <custom-text19></custom-text19>
            <custom-text20></custom-text20>
            <duration type="decimal" nil="true"/>
            <ends-at type="dateTime" nil="true"/>
            <created-by type="integer">48739</created-by>
            <updated-by type="integer">52262</updated-by>
            <invoice-terms>Net 15 - Due 15 days from the date of job completion. </invoice-terms>
            <invoice-notes>There is a 1.5% monthly fee for past due invoices. Thank you for your business.</invoice-notes>
            <estimate-terms>Bid price good for 7 days.</estimate-terms>
            <estimate-notes></estimate-notes>
            <tax-id type="integer" nil="true"/>
            <ship-date type="dateTime" nil="true"/>
            <ship-method-ref-full-name nil="true"/>
            <description>$375, Grayson,, 1 system, 1274 sq ft, Before and after pictures.</description>
            <chosen-days-of-week type="array"/>
            <max-recurring-iterator type="integer" nil="true"/>
            <recurring-iterator type="integer" nil="true"/>
            <detailed-invoice type="boolean">true</detailed-invoice>
            <service-type-id type="integer" nil="true"/>
            <status>in_progress</status>
            <invoice-status>unpaid</invoice-status>
            <invoice-date type="dateTime" nil="true"/>
            <invoice-sent-date type="dateTime" nil="true"/>
            <tasks-count type="integer">1</tasks-count>
            <won-date type="dateTime">2017-07-29T00:00:00-04:00</won-date>
            <po-number></po-number>
            <deleted-at type="dateTime" nil="true"/>
            <schedule nil="true"/>
            <on-hold type="dateTime" nil="true"/>
            <estimate-scheduled-on type="dateTime">2017-07-31T13:00:00-04:00</estimate-scheduled-on>
            <estimate-sent-on type="dateTime">2017-07-25T09:15:40-04:00</estimate-sent-on>
            <estimate-viewed-on type="dateTime">2017-07-25T09:46:44-04:00</estimate-viewed-on>
            <invoice-viewed-on type="dateTime" nil="true"/>
            <lost-date type="dateTime" nil="true"/>
            <started-on type="dateTime">2017-08-04T08:00:23-04:00</started-on>
            <canceled-on type="dateTime" nil="true"/>
            <qb-error nil="true"/>
            <invoice-paid-on type="dateTime" nil="true"/>
            <notification-sent type="boolean">false</notification-sent>
            <total-expenses type="decimal">0.0</total-expenses>
            <recurring-date type="dateTime" nil="true"/>
            <job-allocations>
              <allocations type="array">
                <allocation>
                  <id nil="true"/>
                  <amount type="float">0.0</amount>
                  <edited type="boolean">false</edited>
                  <manual type="boolean">false</manual>
                  <allocation-type>house</allocation-type>
                </allocation>
                <allocation>
                  <id type="integer">52262</id>
                  <amount type="float">33.3333333333333</amount>
                  <edited type="boolean">false</edited>
                  <manual type="boolean">false</manual>
                  <allocation-type>employee</allocation-type>
                </allocation>
                <allocation>
                  <id type="integer">52701</id>
                  <amount type="float">33.3333333333333</amount>
                  <edited type="boolean">false</edited>
                  <manual type="boolean">false</manual>
                  <allocation-type>employee</allocation-type>
                </allocation>
                <allocation>
                  <id type="integer">11315</id>
                  <amount type="float">33.3333333333333</amount>
                  <edited type="boolean">false</edited>
                  <manual type="boolean">false</manual>
                  <allocation-type>employee</allocation-type>
                </allocation>
              </allocations>
              <include-expenses type="boolean">true</include-expenses>
            </job-allocations>
          </job>
          <job>
            <id type="integer">17339075</id>
            <customer-id type="integer">6847479</customer-id>
            <job-number type="integer">12093</job-number>
            <created-at type="dateTime">2017-07-25T15:42:22-04:00</created-at>
            <name>Duct and Dryer Combo</name>
            <scheduled-on type="dateTime">2017-08-04T08:00:00-04:00</scheduled-on>
            <completed-o[...]
